<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PM Poshan Aahar Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.Servlets.Admin.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSchool</display-name>
    <servlet-name>AdminSchool</servlet-name>
    <servlet-class>com.Servlets.Admin.AdminSchool</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSchool</servlet-name>
    <url-pattern>/AdminSchool</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSupplier</display-name>
    <servlet-name>AdminSupplier</servlet-name>
    <servlet-class>com.Servlets.Admin.AdminSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSupplier</servlet-name>
    <url-pattern>/AdminSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchoolLogin</display-name>
    <servlet-name>SchoolLogin</servlet-name>
    <servlet-class>com.Servlets.School.SchoolLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchoolLogin</servlet-name>
    <url-pattern>/SchoolLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertSchool</display-name>
    <servlet-name>InsertSchool</servlet-name>
    <servlet-class>com.Servlets.School.InsertSchool</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSchool</servlet-name>
    <url-pattern>/InsertSchool</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStudent</display-name>
    <servlet-name>InsertStudent</servlet-name>
    <servlet-class>com.Servlets.School.InsertStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudent</servlet-name>
    <url-pattern>/InsertStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAttendance</display-name>
    <servlet-name>InsertAttendance</servlet-name>
    <servlet-class>com.Servlets.School.InsertAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAttendance</servlet-name>
    <url-pattern>/InsertAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestNewMeal</display-name>
    <servlet-name>RequestNewMeal</servlet-name>
    <servlet-class>com.Servlets.School.RequestNewMeal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestNewMeal</servlet-name>
    <url-pattern>/RequestNewMeal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertComplaint</display-name>
    <servlet-name>InsertComplaint</servlet-name>
    <servlet-class>com.Servlets.School.InsertComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertComplaint</servlet-name>
    <url-pattern>/InsertComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierLogin</display-name>
    <servlet-name>SupplierLogin</servlet-name>
    <servlet-class>com.Servlets.Supplier.SupplierLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierLogin</servlet-name>
    <url-pattern>/SupplierLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddNewMeal</display-name>
    <servlet-name>AdminAddNewMeal</servlet-name>
    <servlet-class>com.Servlets.Admin.AdminAddNewMeal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewMeal</servlet-name>
    <url-pattern>/AdminAddNewMeal</url-pattern>
  </servlet-mapping>
</web-app>